<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Registration Form</title>
<style type="text/css">
.a{
border:1px solid black;
height:400px;
}
#container{
        top: 40%;
        left: 45%;
        
        margin-top: -9em;
        margin-left: -15em;
        position: fixed;
}
#left
{
background-color:orange;
}

</style>
</head>
<body>
<h1 style="color:blue;"><center><i>Bank Login page</i></center></h1>
<div id="container" style="width:100%;">                                   
  <div id="left" style="float:left; width:49%;" class="a"> 
  <table style="margin-left:auto;margin-right:auto;margin-top:23%;">
<tr>
<td><label>Username:</label></td>
<td><input type="text"></td>
</tr>
<tr>
<td>&nbsp</td>
<td><a href="#"><i>Forgot username?</i></a></td></tr>
<tr>
<td><label>Password:</label></td>
<td><input type="password"></td>
</tr>
<tr>
<td>&nbsp</td>
<td><a href="#"><i>Fogort password?</i></a></td></tr>

<tr>
<td>&nbsp</td>
<td><input type="button" value="Login">
</td>
 </div>                     
  <div id="right" style="float:right; width:50%;" class="a"> 
 <label style="margin-left:100px;;margin-top:500px;">Register:</label>
   </div>                   
</div>        
</body>
</html>